- name: Install pip for supervisor
  apt:
    name: python3-pip

- name: Install supervisor
  apt:
    name: supervisor

- name: Install superlance for supervisor
  pip:
    name: superlance
  tags: memmon

- name: Set supervisor socket accessible to everyone
  ini_file:
    dest: /etc/supervisor/supervisord.conf
    section: unix_http_server
    mode: 0777
  notify:
    - restart supervisor

- name: Enable supervisor
  service:
    name: supervisor
    enabled: yes
    state: started

- name: reload supervisord
  shell: supervisorctl update
  become_user: root
  notify:
    - restart supervisor
